{% load static %}

<html>
    <head>
        <h2>Add Books Issued</h2>
        <h4><a href="{% url 'mainpage' %}">Go To MainPage</a></h4>
        <link type="text/css" rel="stylesheet" href="{% static 'css/addBooks.css' %}" />
    </head>
    <body>
        <div id="field">
        <fieldset class="field1">
            <form method="post">
                {% csrf_token %}
                <label>Enter Roll No.</label><br/>
                <input type="number" name="roll" placeholder="enter roll no...">
                <button>Search</button>
            </form><br/>

            {% if rollPresent == 'yes' %}
                {% for ele in bookSpots %}
                    <input type="" name={{ele}} placeholder="enter book code..."></br></br>
                {% endfor %}
                <button>Save</button>
            {% endif %}
        </fieldset><br/>
        {{b1}}
        {%if not b1%}
            <p>it is None</p>
        {%endif%}
        </div>
    </body>
</html>