h1 {
    color : white;
    background-color: rgb(113, 37, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    border: 1.5px solid white;
}

body {
    background-color: black;
}

h3 a {
    color: white;
    text-align: center;
}
h3 {
    color: red;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.group1 {
    background-color:purple;
    border: 1.5px solid white;
}
.group1 #field {
    background-color:purple;
    border: 1.5px solid white;
    border: 1.5px;
    padding: 0% 40% 0% 40%;
}

.group1 h4 {
    color: white;
}
